/* .App {
  text-align: center;
} */

.home-body {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  height: 250px;
  justify-content: space-between;
}

.home-body h1 {
  margin-left: 10%;
  width: 60%;
}

.button {
  margin-left: 50px;
  margin-right: 20%;
}

.lets-get-fit {
  width: 180px;
  height: 50px;
  font-size: 18px;
  border-radius: 1.2em;
  background-color: blueviolet;
  color: white;
  border: none;
}

.how-to h2 {
  text-align: center;
}

.steps {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-text {
  max-width: 25vh;
}

.NavBar {
  margin: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
}

.left-side {
  min-width: 220px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.user-links {
  width: 30vh;
  min-width: 220px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.add-trainer {
  padding-left: 20px;
  text-align: center;
  width: 200px;
}

.right-side {
  width: 32vh;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.links {
  text-decoration: none;
  color: black;
}

.signup {
  width: 110px;
  height: 40px;
  border-radius: 2em;
  background-color: blueviolet;
  color: white;
  border: none;
}

.login {
  width: 110px;
  height: 40px;
  border-radius: 2em;
}

.step img {
  object-fit: cover;
  border-radius: 50%;
  max-width: 150px;
  width: 100%;
  height: 100%;
  max-height: 150px;
  padding: 20px;
}

.trainer {
  display: flex;
}

.trainer img {
  object-fit: cover;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  padding: 20px;
}

.trainer-info {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Trainers {
  display: flex;
}
.Trainers h2 {
  width: 300px;
  font-size: 32px;
  text-align: left;
}
.filter-box {
  margin-left: 30px;
}

.Trainers select {
  padding: 2px;
  margin-top: 20px;
}
.trainer-info p {
  text-align: left;
  padding-left: 20px;
}

.trainer-info h4 {
  text-align: left;
}

.trainer-box {
  padding-left: 50px;
}
.styles {
  display: flex;
  justify-content: left;
}

.styles span {
  padding: 12px;
  margin: 10px;
  background-color: rgb(209, 37, 71);
  opacity: 0.6;
  border-radius: 2em;
  color: white;
}
.time-slots {
  display: flex;
  justify-content: left;
}

.time-slots span {
  padding: 10px;
  margin: 10px;
  background-color: blueviolet;
  border-radius: 2em;
  color: white;
}

.time-box {
  margin-left: 20px;
}

.time-box h4 {
  padding-left: 50px;
}
.trainer-link {
  padding: 12px;
  text-align: center;
  margin: 10px;
  border-radius: 2em;
  background-color: blueviolet;
  text-decoration: none;
  color: white;
  border: none;
  width: 200px;
}
.trainer-form {
  margin-left: 100px;
}

#about {
  height: 80px;
  width: 400px;
}

li {
  list-style-type: none;
}

.TrainerBooking {
  padding-left: 100px;
  width: 60%;
}

.TrainerBooking button {
  margin-left: 80px;
}

.About {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

.About p {
  font-size: 18px;
  width: 350px;
  text-align: center;
}

.About img {
  object-fit: cover;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  padding: 20px;
}
